=begin
#Справочник API ЮKassa

#В справочнике API вы найдете описание всех методов API ЮKassa. С помощью этого API вы можете принимать платежи в интернете различными способами и делать выплаты. Подробнее об интеграции по API ЮKassa: Инструкции по интеграции: https://yookassa.ru/developers — описание платежных решений, основанных на API ЮKassa, и ссылки на подробные инструкции.; Формат взаимодействия: https://yookassa.ru/developers/using-api/interaction-format — описание формата запросов, требования к аутентификации запросов и ключу идемпотентнсти, особенности обработки ответов.; Спецификация OpenAPI: https://yookassa.ru/developers/using-api/openapi-specification — информация о спецификации API ЮKassa, ссылка для скачивания спецификации в формате YAML.; Готовые SDK: https://yookassa.ru/developers/using-api/using-sdks — ссылки на готовые решения для PHP, Python и других языков программирования.; Входящие уведомления: https://yookassa.ru/developers/using-api/webhooks — описание работы с входящими уведомлениями (webhook, callback) для отслеживания статусов объектов. История изменений API ЮKassa: https://yookassa.ru/developers/using-api/changelog

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Yookassa
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Информация о сделке
    # Запрос позволяет получить информацию о текущем состоянии сделки по ее уникальному идентификатору.
    # @param deal_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SafeDeal]
    def deals_deal_id_get(deal_id, opts = {})
      data, _status_code, _headers = deals_deal_id_get_with_http_info(deal_id, opts)
      data
    end

    # Информация о сделке
    # Запрос позволяет получить информацию о текущем состоянии сделки по ее уникальному идентификатору.
    # @param deal_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SafeDeal, Integer, Hash)>] SafeDeal data, response status code and response headers
    def deals_deal_id_get_with_http_info(deal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deals_deal_id_get ...'
      end
      # verify the required parameter 'deal_id' is set
      if @api_client.config.client_side_validation && deal_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_id' when calling DefaultApi.deals_deal_id_get"
      end
      if @api_client.config.client_side_validation && deal_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "deal_id" when calling DefaultApi.deals_deal_id_get, the character length must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && deal_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "deal_id" when calling DefaultApi.deals_deal_id_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/deals/{deal_id}'.sub('{' + 'deal_id' + '}', CGI.escape(deal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SafeDeal'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.deals_deal_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deals_deal_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Список сделок
    # Запрос позволяет получить список сделок, отфильтрованный по заданным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_gte Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_gt Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_lte Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_lt Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [DealStatus] :status Фильтр по статусу сделки. Пример: status&#x3D;closed
    # @option opts [String] :full_text_search Фильтр по описанию сделки — параметру description (например, идентификатор сделки на стороне вашей интернет-площадки в ЮKassa, идентификатор покупателя или продавца). От 4 до 128 символов. Пример: 123554642-2432FF344R
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [DealList]
    def deals_get(opts = {})
      data, _status_code, _headers = deals_get_with_http_info(opts)
      data
    end

    # Список сделок
    # Запрос позволяет получить список сделок, отфильтрованный по заданным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_gte Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_gt Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_lte Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :expires_at_lt Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [DealStatus] :status Фильтр по статусу сделки. Пример: status&#x3D;closed
    # @option opts [String] :full_text_search Фильтр по описанию сделки — параметру description (например, идентификатор сделки на стороне вашей интернет-площадки в ЮKassa, идентификатор покупателя или продавца). От 4 до 128 символов. Пример: 123554642-2432FF344R
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [Array<(DealList, Integer, Hash)>] DealList data, response status code and response headers
    def deals_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deals_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'full_text_search'].nil? && opts[:'full_text_search'].to_s.length > 128
        fail ArgumentError, 'invalid value for "opts[:"full_text_search"]" when calling DefaultApi.deals_get, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && !opts[:'full_text_search'].nil? && opts[:'full_text_search'].to_s.length < 4
        fail ArgumentError, 'invalid value for "opts[:"full_text_search"]" when calling DefaultApi.deals_get, the character length must be greater than or equal to 4.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.deals_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.deals_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/deals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'created_at.gte'] = opts[:'created_at_gte'] if !opts[:'created_at_gte'].nil?
      query_params[:'created_at.gt'] = opts[:'created_at_gt'] if !opts[:'created_at_gt'].nil?
      query_params[:'created_at.lte'] = opts[:'created_at_lte'] if !opts[:'created_at_lte'].nil?
      query_params[:'created_at.lt'] = opts[:'created_at_lt'] if !opts[:'created_at_lt'].nil?
      query_params[:'expires_at.gte'] = opts[:'expires_at_gte'] if !opts[:'expires_at_gte'].nil?
      query_params[:'expires_at.gt'] = opts[:'expires_at_gt'] if !opts[:'expires_at_gt'].nil?
      query_params[:'expires_at.lte'] = opts[:'expires_at_lte'] if !opts[:'expires_at_lte'].nil?
      query_params[:'expires_at.lt'] = opts[:'expires_at_lt'] if !opts[:'expires_at_lt'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'full_text_search'] = opts[:'full_text_search'] if !opts[:'full_text_search'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.deals_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deals_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Создание сделки
    # Запрос позволяет создать сделку, в рамках которой необходимо принять оплату от покупателя и перечислить ее продавцу.
    # @param idempotence_key [String] 
    # @param safe_deal_request [SafeDealRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SafeDeal]
    def deals_post(idempotence_key, safe_deal_request, opts = {})
      data, _status_code, _headers = deals_post_with_http_info(idempotence_key, safe_deal_request, opts)
      data
    end

    # Создание сделки
    # Запрос позволяет создать сделку, в рамках которой необходимо принять оплату от покупателя и перечислить ее продавцу.
    # @param idempotence_key [String] 
    # @param safe_deal_request [SafeDealRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SafeDeal, Integer, Hash)>] SafeDeal data, response status code and response headers
    def deals_post_with_http_info(idempotence_key, safe_deal_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deals_post ...'
      end
      # verify the required parameter 'idempotence_key' is set
      if @api_client.config.client_side_validation && idempotence_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotence_key' when calling DefaultApi.deals_post"
      end
      if @api_client.config.client_side_validation && idempotence_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "idempotence_key" when calling DefaultApi.deals_post, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/[0-9a-zA-Z+-_.]{1,64}/)
      if @api_client.config.client_side_validation && idempotence_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotence_key' when calling DefaultApi.deals_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'safe_deal_request' is set
      if @api_client.config.client_side_validation && safe_deal_request.nil?
        fail ArgumentError, "Missing the required parameter 'safe_deal_request' when calling DefaultApi.deals_post"
      end
      # resource path
      local_var_path = '/deals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotence-Key'] = idempotence_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(safe_deal_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SafeDeal'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.deals_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deals_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Информация о счете
    # Используйте этот запрос, чтобы получить информацию о текущем состоянии счета по его уникальному идентификатору.
    # @param invoice_id [String] Идентификатор счета в ЮKassa.
    # @param [Hash] opts the optional parameters
    # @return [Invoice]
    def invoices_invoice_id_get(invoice_id, opts = {})
      data, _status_code, _headers = invoices_invoice_id_get_with_http_info(invoice_id, opts)
      data
    end

    # Информация о счете
    # Используйте этот запрос, чтобы получить информацию о текущем состоянии счета по его уникальному идентификатору.
    # @param invoice_id [String] Идентификатор счета в ЮKassa.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Invoice, Integer, Hash)>] Invoice data, response status code and response headers
    def invoices_invoice_id_get_with_http_info(invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.invoices_invoice_id_get ...'
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling DefaultApi.invoices_invoice_id_get"
      end
      if @api_client.config.client_side_validation && invoice_id.to_s.length > 39
        fail ArgumentError, 'invalid value for "invoice_id" when calling DefaultApi.invoices_invoice_id_get, the character length must be smaller than or equal to 39.'
      end

      if @api_client.config.client_side_validation && invoice_id.to_s.length < 39
        fail ArgumentError, 'invalid value for "invoice_id" when calling DefaultApi.invoices_invoice_id_get, the character length must be greater than or equal to 39.'
      end

      # resource path
      local_var_path = '/invoices/{invoice_id}'.sub('{' + 'invoice_id' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Invoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.invoices_invoice_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#invoices_invoice_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Создание счета
    # Используйте этот запрос, чтобы создать в ЮKassa объект счета: https://yookassa.ru/developers/api#invoice_object. В запросе необходимо передать данные о заказе, которые отобразятся на странице счета, и данные для проведения платежа.
    # @param idempotence_key [String] 
    # @param create_invoice_request [CreateInvoiceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Invoice]
    def invoices_post(idempotence_key, create_invoice_request, opts = {})
      data, _status_code, _headers = invoices_post_with_http_info(idempotence_key, create_invoice_request, opts)
      data
    end

    # Создание счета
    # Используйте этот запрос, чтобы создать в ЮKassa объект счета: https://yookassa.ru/developers/api#invoice_object. В запросе необходимо передать данные о заказе, которые отобразятся на странице счета, и данные для проведения платежа.
    # @param idempotence_key [String] 
    # @param create_invoice_request [CreateInvoiceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Invoice, Integer, Hash)>] Invoice data, response status code and response headers
    def invoices_post_with_http_info(idempotence_key, create_invoice_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.invoices_post ...'
      end
      # verify the required parameter 'idempotence_key' is set
      if @api_client.config.client_side_validation && idempotence_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotence_key' when calling DefaultApi.invoices_post"
      end
      if @api_client.config.client_side_validation && idempotence_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "idempotence_key" when calling DefaultApi.invoices_post, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/[0-9a-zA-Z+-_.]{1,64}/)
      if @api_client.config.client_side_validation && idempotence_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotence_key' when calling DefaultApi.invoices_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_invoice_request' is set
      if @api_client.config.client_side_validation && create_invoice_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_invoice_request' when calling DefaultApi.invoices_post"
      end
      # resource path
      local_var_path = '/invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotence-Key'] = idempotence_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_invoice_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Invoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.invoices_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#invoices_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Информация о настройках магазина или шлюза
    # С помощью этого запроса вы можете получить информацию о магазине или шлюзе: Для Сплитования платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics: в запросе необходимо передать параметр on_behalf_of с идентификатором магазина продавца и ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашей платформы).; Для партнеров: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics: в запросе необходимо передать OAuth-токен магазина.; Для выплат: https://yookassa.ru/developers/payouts/overview: в запросе необходимо передать ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашего шлюза).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :on_behalf_of Только для тех, кто использует Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics. Идентификатор магазина продавца, подключенного к вашей платформе, информацию о котором вы хотите узнать.
    # @return [Me]
    def me_get(opts = {})
      data, _status_code, _headers = me_get_with_http_info(opts)
      data
    end

    # Информация о настройках магазина или шлюза
    # С помощью этого запроса вы можете получить информацию о магазине или шлюзе: Для Сплитования платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics: в запросе необходимо передать параметр on_behalf_of с идентификатором магазина продавца и ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашей платформы).; Для партнеров: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics: в запросе необходимо передать OAuth-токен магазина.; Для выплат: https://yookassa.ru/developers/payouts/overview: в запросе необходимо передать ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашего шлюза).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :on_behalf_of Только для тех, кто использует Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics. Идентификатор магазина продавца, подключенного к вашей платформе, информацию о котором вы хотите узнать.
    # @return [Array<(Me, Integer, Hash)>] Me data, response status code and response headers
    def me_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.me_get ...'
      end
      # resource path
      local_var_path = '/me'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'on_behalf_of'] = opts[:'on_behalf_of'] if !opts[:'on_behalf_of'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Me'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.me_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#me_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Информация о способе оплаты
    # Используйте этот запрос, чтобы получить информацию о текущем состоянии способа оплаты по его уникальному идентификатору.
    # @param payment_method_id [String] Идентификатор сохраненного способа оплаты.
    # @param [Hash] opts the optional parameters
    # @return [SavePaymentMethodBankCard]
    def payment_methods_payment_method_id_get(payment_method_id, opts = {})
      data, _status_code, _headers = payment_methods_payment_method_id_get_with_http_info(payment_method_id, opts)
      data
    end

    # Информация о способе оплаты
    # Используйте этот запрос, чтобы получить информацию о текущем состоянии способа оплаты по его уникальному идентификатору.
    # @param payment_method_id [String] Идентификатор сохраненного способа оплаты.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SavePaymentMethodBankCard, Integer, Hash)>] SavePaymentMethodBankCard data, response status code and response headers
    def payment_methods_payment_method_id_get_with_http_info(payment_method_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payment_methods_payment_method_id_get ...'
      end
      # verify the required parameter 'payment_method_id' is set
      if @api_client.config.client_side_validation && payment_method_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method_id' when calling DefaultApi.payment_methods_payment_method_id_get"
      end
      # resource path
      local_var_path = '/payment_methods/{payment_method_id}'.sub('{' + 'payment_method_id' + '}', CGI.escape(payment_method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SavePaymentMethodBankCard'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payment_methods_payment_method_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payment_methods_payment_method_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Создание способа оплаты
    # Используйте этот запрос, чтобы создать в ЮKassa объект способа оплаты: https://yookassa.ru/developers/api#payment_method_object. В запросе необходимо передать код способа оплаты, который вы хотите сохранить, и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Идентификатор созданного способа оплаты вы можете использовать при проведении автоплатежей: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/create-recurring или выплат: https://yookassa.ru/developers/payouts/scenario-extensions/multipurpose-token.
    # @param idempotence_key [String] 
    # @param save_payment_method_data_bank_card [SavePaymentMethodDataBankCard] 
    # @param [Hash] opts the optional parameters
    # @return [SavePaymentMethodBankCard]
    def payment_methods_post(idempotence_key, save_payment_method_data_bank_card, opts = {})
      data, _status_code, _headers = payment_methods_post_with_http_info(idempotence_key, save_payment_method_data_bank_card, opts)
      data
    end

    # Создание способа оплаты
    # Используйте этот запрос, чтобы создать в ЮKassa объект способа оплаты: https://yookassa.ru/developers/api#payment_method_object. В запросе необходимо передать код способа оплаты, который вы хотите сохранить, и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Идентификатор созданного способа оплаты вы можете использовать при проведении автоплатежей: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/create-recurring или выплат: https://yookassa.ru/developers/payouts/scenario-extensions/multipurpose-token.
    # @param idempotence_key [String] 
    # @param save_payment_method_data_bank_card [SavePaymentMethodDataBankCard] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SavePaymentMethodBankCard, Integer, Hash)>] SavePaymentMethodBankCard data, response status code and response headers
    def payment_methods_post_with_http_info(idempotence_key, save_payment_method_data_bank_card, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payment_methods_post ...'
      end
      # verify the required parameter 'idempotence_key' is set
      if @api_client.config.client_side_validation && idempotence_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotence_key' when calling DefaultApi.payment_methods_post"
      end
      if @api_client.config.client_side_validation && idempotence_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "idempotence_key" when calling DefaultApi.payment_methods_post, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/[0-9a-zA-Z+-_.]{1,64}/)
      if @api_client.config.client_side_validation && idempotence_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotence_key' when calling DefaultApi.payment_methods_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'save_payment_method_data_bank_card' is set
      if @api_client.config.client_side_validation && save_payment_method_data_bank_card.nil?
        fail ArgumentError, "Missing the required parameter 'save_payment_method_data_bank_card' when calling DefaultApi.payment_methods_post"
      end
      # resource path
      local_var_path = '/payment_methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotence-Key'] = idempotence_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(save_payment_method_data_bank_card)

      # return_type
      return_type = opts[:debug_return_type] || 'SavePaymentMethodBankCard'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payment_methods_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payment_methods_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Список платежей
    # Используйте этот запрос, чтобы получить список платежей. Для выгрузки доступны платежи, созданные за последние 3 года. Список можно отфильтровать по различным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_gte Фильтр по времени подтверждения платежей: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_gt Фильтр по времени подтверждения платежей: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_lte Фильтр по времени подтверждения платежей: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_lt Фильтр по времени подтверждения платежей: время должно быть меньше указанного значения («по такой-то момент, не включая его») Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [PaymentMethodType] :payment_method Фильтр по коду способа оплаты: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all. Пример: payment_method&#x3D;bank_card
    # @option opts [PaymentStatus] :status Фильтр по статусу платежа: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#lifecycle. Пример: status&#x3D;succeeded
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [PaymentList]
    def payments_get(opts = {})
      data, _status_code, _headers = payments_get_with_http_info(opts)
      data
    end

    # Список платежей
    # Используйте этот запрос, чтобы получить список платежей. Для выгрузки доступны платежи, созданные за последние 3 года. Список можно отфильтровать по различным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_gte Фильтр по времени подтверждения платежей: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_gt Фильтр по времени подтверждения платежей: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_lte Фильтр по времени подтверждения платежей: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :captured_at_lt Фильтр по времени подтверждения платежей: время должно быть меньше указанного значения («по такой-то момент, не включая его») Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [PaymentMethodType] :payment_method Фильтр по коду способа оплаты: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all. Пример: payment_method&#x3D;bank_card
    # @option opts [PaymentStatus] :status Фильтр по статусу платежа: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#lifecycle. Пример: status&#x3D;succeeded
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [Array<(PaymentList, Integer, Hash)>] PaymentList data, response status code and response headers
    def payments_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payments_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.payments_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.payments_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'created_at.gte'] = opts[:'created_at_gte'] if !opts[:'created_at_gte'].nil?
      query_params[:'created_at.gt'] = opts[:'created_at_gt'] if !opts[:'created_at_gt'].nil?
      query_params[:'created_at.lte'] = opts[:'created_at_lte'] if !opts[:'created_at_lte'].nil?
      query_params[:'created_at.lt'] = opts[:'created_at_lt'] if !opts[:'created_at_lt'].nil?
      query_params[:'captured_at.gte'] = opts[:'captured_at_gte'] if !opts[:'captured_at_gte'].nil?
      query_params[:'captured_at.gt'] = opts[:'captured_at_gt'] if !opts[:'captured_at_gt'].nil?
      query_params[:'captured_at.lte'] = opts[:'captured_at_lte'] if !opts[:'captured_at_lte'].nil?
      query_params[:'captured_at.lt'] = opts[:'captured_at_lt'] if !opts[:'captured_at_lt'].nil?
      query_params[:'payment_method'] = opts[:'payment_method'] if !opts[:'payment_method'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Отмена платежа
    # Отменяет платеж, находящийся в статусе waiting_for_capture. Отмена платежа значит, что вы не готовы выдать пользователю товар или оказать услугу. Как только вы отменяете платеж, мы начинаем возвращать деньги на счет плательщика. Для платежей банковскими картами, из кошелька ЮMoney или через SberPay отмена происходит мгновенно. Для остальных способов оплаты возврат может занимать до нескольких дней. Подробнее о подтверждении и отмене платежей: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel
    # @param payment_id [String] Идентификатор платежа.
    # @param idempotence_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def payments_payment_id_cancel_post(payment_id, idempotence_key, opts = {})
      data, _status_code, _headers = payments_payment_id_cancel_post_with_http_info(payment_id, idempotence_key, opts)
      data
    end

    # Отмена платежа
    # Отменяет платеж, находящийся в статусе waiting_for_capture. Отмена платежа значит, что вы не готовы выдать пользователю товар или оказать услугу. Как только вы отменяете платеж, мы начинаем возвращать деньги на счет плательщика. Для платежей банковскими картами, из кошелька ЮMoney или через SberPay отмена происходит мгновенно. Для остальных способов оплаты возврат может занимать до нескольких дней. Подробнее о подтверждении и отмене платежей: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel
    # @param payment_id [String] Идентификатор платежа.
    # @param idempotence_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def payments_payment_id_cancel_post_with_http_info(payment_id, idempotence_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payments_payment_id_cancel_post ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling DefaultApi.payments_payment_id_cancel_post"
      end
      if @api_client.config.client_side_validation && payment_id.to_s.length > 36
        fail ArgumentError, 'invalid value for "payment_id" when calling DefaultApi.payments_payment_id_cancel_post, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && payment_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "payment_id" when calling DefaultApi.payments_payment_id_cancel_post, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'idempotence_key' is set
      if @api_client.config.client_side_validation && idempotence_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotence_key' when calling DefaultApi.payments_payment_id_cancel_post"
      end
      if @api_client.config.client_side_validation && idempotence_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "idempotence_key" when calling DefaultApi.payments_payment_id_cancel_post, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/[0-9a-zA-Z+-_.]{1,64}/)
      if @api_client.config.client_side_validation && idempotence_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotence_key' when calling DefaultApi.payments_payment_id_cancel_post, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/payments/{payment_id}/cancel'.sub('{' + 'payment_id' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Idempotence-Key'] = idempotence_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payments_payment_id_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payments_payment_id_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Подтверждение платежа
    # Подтверждает вашу готовность принять платеж. После подтверждения платеж перейдет в статус succeeded. Это значит, что вы можете выдать товар или оказать услугу пользователю. Подтвердить можно только платеж в статусе waiting_for_capture и только в течение определенного времени (зависит от способа оплаты). Если вы не подтвердите платеж в отведенное время, он автоматически перейдет в статус canceled, и деньги вернутся пользователю. Подробнее о подтверждении и отмене платежей: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel
    # @param payment_id [String] Идентификатор платежа.
    # @param idempotence_key [String] 
    # @param payment_capture_request [PaymentCaptureRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def payments_payment_id_capture_post(payment_id, idempotence_key, payment_capture_request, opts = {})
      data, _status_code, _headers = payments_payment_id_capture_post_with_http_info(payment_id, idempotence_key, payment_capture_request, opts)
      data
    end

    # Подтверждение платежа
    # Подтверждает вашу готовность принять платеж. После подтверждения платеж перейдет в статус succeeded. Это значит, что вы можете выдать товар или оказать услугу пользователю. Подтвердить можно только платеж в статусе waiting_for_capture и только в течение определенного времени (зависит от способа оплаты). Если вы не подтвердите платеж в отведенное время, он автоматически перейдет в статус canceled, и деньги вернутся пользователю. Подробнее о подтверждении и отмене платежей: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel
    # @param payment_id [String] Идентификатор платежа.
    # @param idempotence_key [String] 
    # @param payment_capture_request [PaymentCaptureRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def payments_payment_id_capture_post_with_http_info(payment_id, idempotence_key, payment_capture_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payments_payment_id_capture_post ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling DefaultApi.payments_payment_id_capture_post"
      end
      if @api_client.config.client_side_validation && payment_id.to_s.length > 36
        fail ArgumentError, 'invalid value for "payment_id" when calling DefaultApi.payments_payment_id_capture_post, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && payment_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "payment_id" when calling DefaultApi.payments_payment_id_capture_post, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'idempotence_key' is set
      if @api_client.config.client_side_validation && idempotence_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotence_key' when calling DefaultApi.payments_payment_id_capture_post"
      end
      if @api_client.config.client_side_validation && idempotence_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "idempotence_key" when calling DefaultApi.payments_payment_id_capture_post, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/[0-9a-zA-Z+-_.]{1,64}/)
      if @api_client.config.client_side_validation && idempotence_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotence_key' when calling DefaultApi.payments_payment_id_capture_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payment_capture_request' is set
      if @api_client.config.client_side_validation && payment_capture_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_capture_request' when calling DefaultApi.payments_payment_id_capture_post"
      end
      # resource path
      local_var_path = '/payments/{payment_id}/capture'.sub('{' + 'payment_id' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotence-Key'] = idempotence_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_capture_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payments_payment_id_capture_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payments_payment_id_capture_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Информация о платеже
    # Запрос позволяет получить информацию о текущем состоянии платежа по его уникальному идентификатору.
    # @param payment_id [String] Идентификатор платежа.
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def payments_payment_id_get(payment_id, opts = {})
      data, _status_code, _headers = payments_payment_id_get_with_http_info(payment_id, opts)
      data
    end

    # Информация о платеже
    # Запрос позволяет получить информацию о текущем состоянии платежа по его уникальному идентификатору.
    # @param payment_id [String] Идентификатор платежа.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def payments_payment_id_get_with_http_info(payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payments_payment_id_get ...'
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling DefaultApi.payments_payment_id_get"
      end
      if @api_client.config.client_side_validation && payment_id.to_s.length > 36
        fail ArgumentError, 'invalid value for "payment_id" when calling DefaultApi.payments_payment_id_get, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && payment_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "payment_id" when calling DefaultApi.payments_payment_id_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/payments/{payment_id}'.sub('{' + 'payment_id' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payments_payment_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payments_payment_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Создание платежа
    # Чтобы принять оплату, необходимо создать объект платежа: https://yookassa.ru/developers/api#payment_object — Payment. Он содержит всю необходимую информацию для проведения оплаты (сумму, валюту и статус). У платежа линейный жизненный цикл, он последовательно переходит из статуса в статус.
    # @param idempotence_key [String] 
    # @param create_payment_request [CreatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def payments_post(idempotence_key, create_payment_request, opts = {})
      data, _status_code, _headers = payments_post_with_http_info(idempotence_key, create_payment_request, opts)
      data
    end

    # Создание платежа
    # Чтобы принять оплату, необходимо создать объект платежа: https://yookassa.ru/developers/api#payment_object — Payment. Он содержит всю необходимую информацию для проведения оплаты (сумму, валюту и статус). У платежа линейный жизненный цикл, он последовательно переходит из статуса в статус.
    # @param idempotence_key [String] 
    # @param create_payment_request [CreatePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def payments_post_with_http_info(idempotence_key, create_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payments_post ...'
      end
      # verify the required parameter 'idempotence_key' is set
      if @api_client.config.client_side_validation && idempotence_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotence_key' when calling DefaultApi.payments_post"
      end
      if @api_client.config.client_side_validation && idempotence_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "idempotence_key" when calling DefaultApi.payments_post, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/[0-9a-zA-Z+-_.]{1,64}/)
      if @api_client.config.client_side_validation && idempotence_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotence_key' when calling DefaultApi.payments_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_payment_request' is set
      if @api_client.config.client_side_validation && create_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_request' when calling DefaultApi.payments_post"
      end
      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotence-Key'] = idempotence_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Список выплат
    # Используйте этот запрос, чтобы получить список выплат. Для выгрузки доступны выплаты, созданные за последние 3 года. Список можно отфильтровать по различным критериям. Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [PayoutDestinationDataType] :payout_destination_type Фильтр по коду способа получения выплаты: https://yookassa.ru/developers/payouts/getting-started/payout-types-and-limits#types-destination. Пример: payout_destination.type&#x3D;bank_card
    # @option opts [PayoutStatus] :status Фильтр по статусу выплаты: https://yookassa.ru/developers/api#payout_object_status. Пример: status&#x3D;succeeded
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [PayoutsList]
    def payouts_get(opts = {})
      data, _status_code, _headers = payouts_get_with_http_info(opts)
      data
    end

    # Список выплат
    # Используйте этот запрос, чтобы получить список выплат. Для выгрузки доступны выплаты, созданные за последние 3 года. Список можно отфильтровать по различным критериям. Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [PayoutDestinationDataType] :payout_destination_type Фильтр по коду способа получения выплаты: https://yookassa.ru/developers/payouts/getting-started/payout-types-and-limits#types-destination. Пример: payout_destination.type&#x3D;bank_card
    # @option opts [PayoutStatus] :status Фильтр по статусу выплаты: https://yookassa.ru/developers/api#payout_object_status. Пример: status&#x3D;succeeded
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [Array<(PayoutsList, Integer, Hash)>] PayoutsList data, response status code and response headers
    def payouts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payouts_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.payouts_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.payouts_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/payouts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'created_at.gte'] = opts[:'created_at_gte'] if !opts[:'created_at_gte'].nil?
      query_params[:'created_at.gt'] = opts[:'created_at_gt'] if !opts[:'created_at_gt'].nil?
      query_params[:'created_at.lte'] = opts[:'created_at_lte'] if !opts[:'created_at_lte'].nil?
      query_params[:'created_at.lt'] = opts[:'created_at_lt'] if !opts[:'created_at_lt'].nil?
      query_params[:'payout_destination.type'] = opts[:'payout_destination_type'] if !opts[:'payout_destination_type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayoutsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payouts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payouts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Информация о выплате
    # Используйте этот запрос, чтобы получить информацию о текущем состоянии выплаты по ее уникальному идентификатору. Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.
    # @param payout_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Payout]
    def payouts_payout_id_get(payout_id, opts = {})
      data, _status_code, _headers = payouts_payout_id_get_with_http_info(payout_id, opts)
      data
    end

    # Информация о выплате
    # Используйте этот запрос, чтобы получить информацию о текущем состоянии выплаты по ее уникальному идентификатору. Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.
    # @param payout_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payout, Integer, Hash)>] Payout data, response status code and response headers
    def payouts_payout_id_get_with_http_info(payout_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payouts_payout_id_get ...'
      end
      # verify the required parameter 'payout_id' is set
      if @api_client.config.client_side_validation && payout_id.nil?
        fail ArgumentError, "Missing the required parameter 'payout_id' when calling DefaultApi.payouts_payout_id_get"
      end
      if @api_client.config.client_side_validation && payout_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "payout_id" when calling DefaultApi.payouts_payout_id_get, the character length must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && payout_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "payout_id" when calling DefaultApi.payouts_payout_id_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/payouts/{payout_id}'.sub('{' + 'payout_id' + '}', CGI.escape(payout_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Payout'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payouts_payout_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payouts_payout_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Создание выплаты
    # Используйте этот запрос, чтобы создать в ЮKassa объект выплаты: https://yookassa.ru/developers/api#payout_object. В запросе необходимо передать сумму выплаты, данные о способе получения выплаты (например, номер кошелька ЮMoney), описание выплаты и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Передаваемые параметры и данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.
    # @param idempotence_key [String] 
    # @param payout_request [PayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Payout]
    def payouts_post(idempotence_key, payout_request, opts = {})
      data, _status_code, _headers = payouts_post_with_http_info(idempotence_key, payout_request, opts)
      data
    end

    # Создание выплаты
    # Используйте этот запрос, чтобы создать в ЮKassa объект выплаты: https://yookassa.ru/developers/api#payout_object. В запросе необходимо передать сумму выплаты, данные о способе получения выплаты (например, номер кошелька ЮMoney), описание выплаты и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Передаваемые параметры и данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.
    # @param idempotence_key [String] 
    # @param payout_request [PayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payout, Integer, Hash)>] Payout data, response status code and response headers
    def payouts_post_with_http_info(idempotence_key, payout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payouts_post ...'
      end
      # verify the required parameter 'idempotence_key' is set
      if @api_client.config.client_side_validation && idempotence_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotence_key' when calling DefaultApi.payouts_post"
      end
      if @api_client.config.client_side_validation && idempotence_key.to_s.length > 64
        fail ArgumentError, 'invalid value for "idempotence_key" when calling DefaultApi.payouts_post, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/[0-9a-zA-Z+-_.]{1,64}/)
      if @api_client.config.client_side_validation && idempotence_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotence_key' when calling DefaultApi.payouts_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'payout_request' is set
      if @api_client.config.client_side_validation && payout_request.nil?
        fail ArgumentError, "Missing the required parameter 'payout_request' when calling DefaultApi.payouts_post"
      end
      # resource path
      local_var_path = '/payouts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotence-Key'] = idempotence_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payout'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payouts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payouts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Поиск выплат
    # Используйте этот запрос для поиска выплат по заданным критериям. Доступно только для выплат, созданных за последние 3 месяца. Сейчас доступен поиск только по параметру metadata. Дополнительно можно указать дату и время создания выплаты (параметр created_at). Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Hash<String, String>] :metadata Фильтр по объекту metadata. Строгий поиск по паре «ключ-значение»: возвращаются объекты, у которых в metadata есть точное совпадение по ключу и по значению. Ограничения: можно передать максимум одну пару «ключ-значение», имя ключа не больше 32 символов, значение ключа не больше 512 символов, тип данных — строка в формате UTF-8 в URL-encoded виде. Шаблон: metadata[key]&#x3D;value Пример: metadata%5Boperation_id%5D&#x3D;e2ab2e1c-776d-4376-aba8-d2099243d1f6
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [PayoutsList]
    def payouts_search_get(opts = {})
      data, _status_code, _headers = payouts_search_get_with_http_info(opts)
      data
    end

    # Поиск выплат
    # Используйте этот запрос для поиска выплат по заданным критериям. Доступно только для выплат, созданных за последние 3 месяца. Сейчас доступен поиск только по параметру metadata. Дополнительно можно указать дату и время создания выплаты (параметр created_at). Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :created_at_gte Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_gt Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lte Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Time] :created_at_lt Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt&#x3D;2018-07-18T10:51:18.139Z
    # @option opts [Hash<String, String>] :metadata Фильтр по объекту metadata. Строгий поиск по паре «ключ-значение»: возвращаются объекты, у которых в metadata есть точное совпадение по ключу и по значению. Ограничения: можно передать максимум одну пару «ключ-значение», имя ключа не больше 32 символов, значение ключа не больше 512 символов, тип данных — строка в формате UTF-8 в URL-encoded виде. Шаблон: metadata[key]&#x3D;value Пример: metadata%5Boperation_id%5D&#x3D;e2ab2e1c-776d-4376-aba8-d2099243d1f6
    # @option opts [Integer] :limit Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit&#x3D;50 Значение по умолчанию: 10 (default to 10)
    # @option opts [String] :cursor Указатель на следующий фрагмент списка. Пример: cursor&#x3D;37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination
    # @return [Array<(PayoutsList, Integer, Hash)>] PayoutsList data, response status code and response headers
    def payouts_search_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.payouts_search_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.payouts_search_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.payouts_search_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/payouts/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'created_at.gte'] = opts[:'created_at_gte'] if !opts[:'created_at_gte'].nil?
      query_params[:'created_at.gt'] = opts[:'created_at_gt'] if !opts[:'created_at_gt'].nil?
      query_params[:'created_at.lte'] = opts[:'created_at_lte'] if !opts[:'created_at_lte'].nil?
      query_params[:'created_at.lt'] = opts[:'created_at_lt'] if !opts[:'created_at_lt'].nil?
      query_params[:'metadata'] = opts[:'metadata'] if !opts[:'metadata'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayoutsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.payouts_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#payouts_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Информация о персональных данных
    # С помощью этого запроса вы можете получить информацию о текущем статусе объекта персональных данных по его уникальному идентификатору.
    # @param personal_data_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PersonalData]
    def personal_data_personal_data_id_get(personal_data_id, opts = {})
      data, _status_code, _headers = personal_data_personal_data_id_get_with_http_info(personal_data_id, opts)
      data
    end

    # Информация о персональных данных
    # С помощью этого запроса вы можете получить информацию о текущем статусе объекта персональных данных по его уникальному идентификатору.
    # @param personal_data_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PersonalData, Integer, Hash)>] PersonalData data, response status code and response headers
    def personal_data_personal_data_id_get_with_http_info(personal_data_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.personal_data_personal_data_id_get ...'
      end
      # verify the required parameter 'personal_data_id' is set
      if @api_client.config.client_side_validation && personal_data_id.nil?
        fail ArgumentError, "Missing the required parameter 'personal_data_id' when calling DefaultApi.personal_data_personal_data_id_get"
      end
      if @api_client.config.client_side_validation && personal_data_id.to_s.length > 50
        fail ArgumentError, 'invalid value for "personal_data_id" when calling DefaultApi.personal_data_personal_data_id_get, the character length must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && personal_data_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "personal_data_id" when calling DefaultApi.personal_data_personal_data_id_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/personal_data/{personal_data_id}'.sub('{' + 'personal_data_id' + '}', CGI.escape(personal_data_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PersonalData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2', 'BasicAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.personal_data_personal_data_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#personal_data_personal_data_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Создание персональных данных
    # Используйте этот запрос, чтобы создать в ЮKassa объект персональных данных: https://yookassa.ru/developers/api#personal_data_object. В запросе необходимо указать тип данных (с какой целью они будут использоваться) и передать информацию о пользователе: фамилию, имя, отчество и другие — в зависимости от выбранного типа. Идентификатор созданного объекта персональных данных необходимо использовать в запросе на создание выплаты: https://yookassa.ru/developers/api#create_payout.
    # @param idempotence_key [String] 
    # @param personal_data_post_request [PersonalDataPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PersonalData]
    def personal_data_post(idempotence_key, personal_data_post_request, opts = {})
      data, _status_code, _headers = personal_data_post_with_http_info(idempotence_key, personal_data_post_request, opts)
      data
    end

    # Создание персональных данных
    # Используйте этот запрос, чтобы создать в ЮKassa объект персональных данных: https://yookassa.ru/developers/api#personal_data_object. В запросе необходимо указать тип данных (с какой целью они будут использоваться) и передать информацию о пользователе: фамилию, имя, отчество и другие — в зависимости от выбранного типа. Идентификатор созданного объекта персональных данных необходимо использовать в запросе на создание выплаты: https://yookassa.ru/developers/api#create_payout.
    # @param idempotence_key [String] 
    # @param personal_data_post_request [PersonalDataPostRequest] 
    # @param [Hash] opts the optional parameters
[...]
